body {
    --width: 20rem;
    font-family: var(--font-default);
    display: grid;
    justify-content: center;
    background-color: var(--color-background-primary);
    color: var(--color-text-secondary);
}

main {
    width: var(--width);
}


@media(min-width: 560px) {
    body {
        --width: 30rem;
    }
}

@media(min-width: 960px) {
    body {
        --width: 50rem;
    }
}

@media(min-width: 1800px) {
    body {
        --width: 80rem;
    }
}

button {
    border: 0;
}